/* ===================================== *
 * Universal
 * ------------------------------------- */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(180deg, #4777E6 10%, #8E54E9 90%) no-repeat center center fixed;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-weight: 400;
  font-size: $base-size;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
}

main {
  align-self: center;
  padding: 1em;
  flex: 0 1 400px;
}

.hidden {
  display: none;
}

@mixin block-margin ($margin: $vertical-margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

#{$block-elements} {
  @include block-margin;
}
