[role=button] {
  cursor: pointer;
}

.button, button, input[type=submit] {
  cursor: pointer;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: auto;
  line-height: 1;
  white-space: nowrap;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 8px 12px;
  background: #fff;
  color: $purple-01;
  letter-spacing: .2em;
  padding: .8em 0;
  font-size: 20px;
}
