header {
  margin: 2em 0;
  text-align: center;
  .word-svgs {
    position: relative;
    .svg-word {
      stroke-width: .4;
      stroke: #fff;

      &:nth-child(1) {
        fill: url(#word-fill);
        position: relative;
        z-index: 2;
      }
      &:nth-child(n+2) {
        position: absolute;
        left: 0;
        fill: rgba(#fff, .1);
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) { transform: translate(-($i * 4) + 0px, ($i * 4) + 0px); }
      }
    }
  }
  .rush-svgs {
    position: relative;
    width: 80%;
    margin: 0 auto;
    z-index: 2;
    margin-top: -2em;

    .svg-rush {
      &:nth-child(1) {
        fill: #23ffb9;
        positon: relative;
        z-index: 3;
      }
      &:nth-child(2) {
        position: absolute;
        left: 0;
        fill: transparent;
        stroke-width: .4;
        stroke: #E98854;
        transform: translate(4px, -4px);
      }
    }
  }
}
.game-choices {
  width: 200px;
  text-align: center;
  margin: 0 auto;

  button {
    width: 100%;
    padding: .8em 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .2em;
    color: #8E54E9;
  }

  .line {
    display: block;
    position: relative;
    margin: 3px 0;

    &:after {
      position: absolute;
      top: -4px;
      left: -4%;
      content: "";
      width: 108%;
      background: rgba(#fff, .1);
      transform: rotate(-22deg) skew(-22deg);
      height: 40px;
    }
  }
  .bars {
    display: block;
    padding: .3em 0;
    width: 100%;
    display: block;
    font-size: .6em;
    position: relative;
    color: #fff;

    &:before, &:after {
      content: "";
      width: 38%;
      height: 1px;
      border-bottom: 1px solid #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before { left: 4%; }
    &:after  { right: 4%; }
  }
}
